.thank-you {
  background-color: var(--dark-blue);
  border-radius: 15px;
  padding: 1.5rem;
  width: 80vw;
  max-width: 380px;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thank-you img {
  margin-top: 1rem;
}

.selected-rating {
  background-color: var(--light-dark-blue);
  color: var(--orange);
  max-width: fit-content;
  padding: 0.5rem 0.8rem;
  margin-top: 2rem;
  border-radius: 20px;
}

.thank-you-text {
  margin-top: 1rem;
  text-align: center;
}